# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PySpark
spark-warehouse/
checkpoint/
hadoop/

# Logs and databases
*.log
*.sqlite

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
